

*{
  list-style: none;
list-style-image: none;
}
.navbar {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url ("./src/assets/images/Top10/normal.jpg");

  &__links {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 1150px;
    padding-top: 38px;
    font-size: 29px;
    color: white;
  }


button{
  border-style: none;
  background: transparent;
  font-size: 30px;
}
}
