.top {
  padding: 20px;
background-color: black;
padding-right: 102px;
  h2 {
    text-transform: uppercase;
    color: white;
    font-family: ui-monospace;
  }
  .topGallery {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__item {
      display: flex;
      align-items: center;

      p {
        font-size: 312px;
        font-weight: bold;
font-family: monospace;
        position: relative;
        left: 61px;
        margin: unset;
color: rgb(32, 31, 31);
      }

      img {
        width: 150px;
        z-index: 1
      }
    }
  }
}

